.AdminData{
    display: flex;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 120%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard{
    margin: 20px;
    padding: 10px;
    font-size: xxx-large;
}

.UserId h1{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.Username h1{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;   
}

.Email h1{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.Password h1{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.inner_id{
    padding: 10px;
}

.inner_username{
    padding: 10px;
}

.inner_email{
    padding: 10px;
}

.inner_password{
    padding: 10px;
}

.Queries{
    display: flex;
}

.deleteusers{
    flex: 1.5;
    margin: 20px;
    padding: 20px;
    background-color: lightcoral;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    border-radius: 10px;
}

.addusers{
    display: block;
    flex: 1.25;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    background-color: lightgreen;
    border: none;
    border-radius: 10px;

}

.userdata {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: lightskyblue;
    border: none;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.userdata .topuserdata{
    display: flex;
    width: 100%;
}

.userdata .topuserdata img{
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 5px;
}

.deleteusers form {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.addusers form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 15px;
    
}

.deleteusers .bargraph{
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    display: flex;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}